ngb-pagination li:first-child a span {
  display: none;
}

ngb-pagination {
  background-color: blue;
  border-color: blue;
}

ngb-pagination li.page-item a.page-link {
  background-color: transparent;
  color: black;
}

ngb-pagination li.page-item.active a.page-link {
  background-color: transparent;
  border-color: black;
  color: black;
}

